<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content=" {{ title }}" />
    <meta name="author" content="geomydas" />
    <link rel="stylesheet" href="../../../../styles.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    <main>
      <h1>{{ title }}</h1>
      {{ content | safe }}
      <a href="/" class="back">Go back</a>
    </main>
  </body>
</html>
