<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="SY2024notes" />
    <meta name="author" content="geomydas" />
    <style>*{box-sizing:border-box}body{color:#1f2328;word-wrap:break-word;overflow-wrap:break-word;max-width:60rem;margin:0 auto;padding:3rem 1rem;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Noto Sans,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;line-height:1.5}body>:last-child{margin-bottom:0}h1{border-bottom:1px solid #d0d7deb3;margin:0 0 1rem;padding-bottom:.25em;font-size:2.25rem;font-weight:700;line-height:1.25}ul{margin-top:1rem;margin-bottom:1rem;padding-left:2rem}ul ul,ol ul{margin-top:0;margin-bottom:0}li:has(details){list-style:none}li+li,li li{margin-top:.5rem}a{color:#0969da;text-decoration:none}a:hover{text-decoration:underline}:empty{display:none}@media (prefers-color-scheme:dark){body{color:#cbcbcb;background:#1f1f1f}h1,h2{border-bottom:1px solid #474747}a{color:#489ce4}}</style>
    <title>SY2024notes</title>
  </head>
  <body>
    <main>
      <h1>SY2024notes</h1>
      <ul>
        {% for subjectName in subjectNames %}
        <li>
          <details>
            <summary>{{ subjectName }}</summary>
            <ul>
              {% for quarter in (1..4) %} {% assign lessonName = subjectName |
              join | append: "-quarter-" | append: quarter | slug %} {% assign
              lessons = collections[lessonName] %}
              <li>
                <details>
                  <summary>Quarter {{ quarter }}</summary>
                  <ul>
                    {% for lesson in lessons %}
                    <li>
                      <a href="{{ lesson.url }}"> {{ lesson.data.title }}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </details>
              </li>
              {% endfor %}
            </ul>
          </details>
        </li>
        {% endfor %}
      </ul>
    </main>
  </body>
</html>
