<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="SY2024notes" />
    <meta name="author" content="geomydas" />
    <link rel="stylesheet" href="/styles.css">
    <title>SY2024notes</title>
  </head>
  <body>
    <main>
      <h1>SY2024notes</h1>
      <ul>
        {% for subjectName in subjectNames %}
        <li>
          <details>
            <summary>{{ subjectName }}</summary>
            <ul>
              {% for quarter in (1..4) %} {% assign lessonName = subjectName |
              join | append: "-quarter-" | append: quarter | slug %} {% assign
              lessons = collections[lessonName] %}
              <li>
                <details>
                  <summary>Quarter {{ quarter }}</summary>
                  <ul>
                    {% for lesson in lessons %}
                    <li>
                      <a href="{{ lesson.url }}"> {{ lesson.data.title }}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </details>
              </li>
              {% endfor %}
            </ul>
          </details>
        </li>
        {% endfor %}
      </ul>
    </main>
  </body>
</html>
